<!-- BEGIN PRE-FOOTER -->
<footer>
  <div class="pre-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-6 pre-footer-col">
          <h2>About Us</h2>
          <p><%- theme.about %></p>
          <div class="social-btn x-btn-follow x-btn-follow">
            <a
              href="https://x.com/intent/follow?screen_name=future_techblog %>"
              target="_blank"
              rel="nofollow noopener"
            >
              <i></i
              ><span class="x-btn-follow-label"
                > フューチャー技術ブログをフォロー</span
              >
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 pre-footer-col">
          <h2>Contact</h2>
          <address class="margin-bottom-40">
            <p>
              記事についての問い合わせは <a href="https://x.com/future_techblog">X(旧Twitter)</a> かメールをご利用ください<a
                href="mailto:<%= theme.email %>"
                ><%= theme.email %></a
              >
            </p>
            <a
              href="https://www.future.co.jp/contact_us/"
              title="お問い合わせページ"
              target="_blank"
              rel="noopener"
              >その他のお問い合わせ先</a
            ><br />
          </address>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 pre-footer-col">
          <h2>Links
          </h2>
          <a
            href="https://future.connpass.com/"
            title="経営とITをデザインするフューチャーの勉強会です"
            target="_blank"
            rel="noopener"
            >connpass</a
          ><br />
          <a
            href="https://www.future.co.jp/futureinsightseminar/"
            title="フューチャーインサイトセミナー"
            target="_blank"
            rel="noopener"
            >Webセミナー</a
          ><br />
          <a
            href="https://github.com/future-architect"
            title="Future's official open source repositories"
            target="_blank"
            rel="noopener"
            >GitHub</a
          ><br />
          <a
            href="https://qiita.com/organizations/future"
            title="フューチャーのQiita Organizationです"
            target="_blank"
            rel="noopener"
            >Qiita</a
          ><br />
          <a
            href="https://note.future.co.jp/"
            title="フューチャーの公式note"
            target="_blank"
            rel="noopener"
            >未来報</a
          ><br />
          <a
            href="https://www.youtube.com/channel/UCJUSwYYd0CkGgmEKAW7QVpw"
            title="フューチャーYoutubeチャネル"
            target="_blank"
            rel="noopener"
            >Youtube</a
          ><br />
            <a
              href="https://www.future.co.jp/architect/socialmediapolicy/"
              title="ソーシャルメディアポリシー"
              target="_blank"
              rel="noopener"
              >メディアポリシー</a
            ><br />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 padding-top-10">
          Copyright 2016 - <%= date(new Date(), 'YYYY') %> by Future
          Corporation<br />
        </div>
      </div>
    </div>
  </div>
</footer>
